div{
    height:150px;
    font-size:15px;
    font-weight:bolder;
    width:350px;
    color:blue;
    background-color:aqua;
    border:5px solid black;
    /* border-radius:50%; */
    /* padding-left:200px; */
    /* padding-right:50px; */
    text-align:center;
    /* padding-top:31px;
    padding-bottom:40px;
    padding-left:20px; */
    padding:20px 20px 20px 10px;
    /* margin-top:56px;
    margin-bottom:5px;
 */
 margin:23px,4545px,567px,545px;}