/* div{
    height:100px;
    width:100px;
    background-color: blue;
    border-radius:50%;
} */
#Ram{height:20px;
    width:300px;
    color:white;
    background-color:black;
    border:5px solid black;
    padding:
    padding-left:

}